/* Why */

#why {
    min-height: 367px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #231f20;
    margin-bottom: 150px;
  
    opacity: 0;
    transform: translateY(15px);
  
    transition: opacity 0.5s linear, transform 0.5s ease;
  }

  #why h1 {
    position: relative;
    z-index: 9999;
    color: white;
  }

  #why p {
    width: 700px;
    color: white;
  }
  
  #underline-what {
    background-color: #5700df;
    width: 0;
    height: 24px;
    top: 19px;
    right: -5px;
    position: absolute;

    transition: width 1s linear 0.4s;
  }

  .underline-container {
    position: relative;
  }
  
  @media(max-width: 768px) {
    #why {
      width: 102%;
      margin-left: -1%;
      padding: 0 25px;
      min-height: 275px;
    }
  
    #underline-what {
      width: 389px;
      right: 155px;
    }
  }
  
  @media (max-width: 414px) {
    #why {
      width: 100%;
      min-height: 420px;
      margin: 0;
      padding: 0 28px;
    }
  
    #why {
      margin-bottom: 70px;
    }

    #why p {
        width: 100%;
    }
  
    #underline-what {
      width: 54px;
      right: 31px;
      top: 65px;
    }
  }