
/* Team */

#team {
    margin-top: 250px;
    
    opacity: 0;
    transform: translateY(15px);
  
    transition: opacity 0.5s linear, transform 0.5s ease;
}
  
  #team .description {
    margin-bottom: 90px;
  }
  
  #team h2 {
    color: #383838;
    /* font-weight: 500; */
    font-size: 33px;
  }
  
  .profiles {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .member {
    margin: 0.5px;
    position: relative;
    width: 287px;
    height: 442px;
    overflow: hidden;
  }
  
  .basic-info {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 5;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  
    transition: bottom .3s;
  }
  
  .member:hover .basic-info {
    bottom: 340px;
  }
  
  .member:hover .detail-profile {
    top: 0px;
  }
  
  .basic-info > * {
    margin: 0;
  }
  
  .detail-profile {
    position: absolute;
    top: 445px;
    width: 100%;
    height: 100%;
    background-color: rgba(39, 30, 96, 0.5);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
  
    transition: top .3s;
  }
  
  .detail-profile p {
    margin: 0;
    color: white;
  }
  
  .first-line {
    margin-top: 60px !important;
  }
  
  .social-icons {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 18px;
  }

@media(max-width: 768px) {
  #team {
    width: 700px;
    min-height: 275px;
  }

  .member {
    height: 410px;
  }

  .member img {
    height: 100%;
  } 

  .detail-profile p {
    font-size: 15px;
  }
}

@media (max-width: 414px) {
  #team {
    width: 100%;
    min-height: 275px;
    padding: 25px;
  }

  #team {
    margin-top: 100px;
  }

  .profiles {
    flex-wrap: wrap;
  }

  .member img {
    height: auto;
  }
}