
/* Team */

#team {
    margin-top: 250px;
    
    opacity: 0;
    transform: translateY(15px);
  
    transition: opacity 0.5s linear, transform 0.5s ease;
}
  
  #team .description {
    margin-bottom: 90px;
  }
  
  #team h2 {
    color: #383838;
    /* font-weight: 500; */
    font-size: 33px;
  }
  
  .profiles {
    margin: 0 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .member {
    margin: 0.5px;
    position: relative;
    width: 287px;
    height: 442px;
    overflow: hidden;
  }

  .member img {
    height: 100%;
  }
  
  .basic-info {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 5;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  
    transition: bottom .3s;
  }
  
  .member:hover .basic-info {
    bottom: 360px;
  }
  
  .member:hover .detail-profile {
    top: 0px;
  }
  
  .basic-info > * {
    margin: 0;
    text-align: left;
  }
  
  .detail-profile {
    position: absolute;
    top: 445px;
    width: 100%;
    height: 100%;
    background-color: rgba(39, 30, 96, 0.5);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
  
    transition: top .3s;
  }

  .member-desc {
    margin-top: 20px !important;
    line-height: 30px;
  }
  
  .detail-profile p {
    margin: 0;
    color: white;
    text-align: left;
  }
  
  .first-line {
    margin-top: 60px !important;
  }
  
  .social-icons {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 18px;
  }

  .icon {
    width: 40px;
    height: 40px;
    border: 2px solid white;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;

    transition: background-color 0.2s border-color 0.2s; 
  }

  .icon img {
    width: 50%;
    height: auto;
  }

  .icon:hover {
    background-color: rgba(183, 246, 153, 0.8);
    border-color: rgba(183, 246, 153, 0.8);
  }

@media(max-width: 768px) {
  #team {
    width: 700px;
    min-height: 275px;
  }

  .member {
    height: 410px;
  }

  .detail-profile p {
    font-size: 15px;
  }

  .profiles {
    flex-wrap: wrap;
     margin: 0;
  }

  .icon img {
      width: 50% !important;
      height: auto;
  }

  .member img {
    height: auto;
    width: 100%;
  }
    
  .member:hover .basic-info {
    bottom: 340px;
  }
}

@media (max-width: 414px) {
  #team {
    width: 100%;
    min-height: 275px;
    padding: 25px;
  }

  #team {
    margin-top: 100px;
  }
}