*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: 'Montserrat'
}


body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
}

h1 {
  font-weight: 500;
  font-size: 45px;
  line-height: 1;
  color: #383838;
  margin: 0;
}

p {
  font-weight: 300;
  font-size: 20px;
}

button {
  background: none;
  border: 2px solid #5700df;
  background-color: #5700df;
  padding: 9px 29px;
  border-radius: 500px;
  font-size: 16px;
  color: white;
  box-shadow: -9px 9px 17px -4px rgba(133, 133, 133, 1);
  cursor: pointer;
}

/* Nav Header */


.header {
  width: 100%;
  height: 139px;
  padding: 24px 255px;
}

.link{
  position: relative;
  cursor: pointer;
}

.link:after{
  content: '';
  position: absolute;
  width: 0; height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #5700df;
  transition: width .2s ease;
  -webkit-transition: width .2s ease;
}
 
.link:hover:after{
  width: 100%;
  left: 0;
  background: #5700df;
}

#nav-logo {
  float: left;
  margin-left: 14px;
}

#main-menu {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#main-menu>* {
  margin: 0px 13px;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 6px;
  letter-spacing: 0.2px;
  color: #383838;
}

#main-menu button {
  background: none;
  border: 2px solid #5700df;
  padding: 5px 25px;
  border-radius: 500px;
  font-size: 15px;
  color: #5700df;
  background-color: white;
  box-shadow: none;
  transition: background-color .6s, color .6s;
}

#main-menu button:hover {
  background-color: #5700df;
  color: white;
}

/* Cover */

.cover {
  min-height: 773px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cover .parallax-image-container {
  width: 764px;
  min-height: 540px;
  margin-top: 48px;
  position: relative;
}

.parallax-image-container img {
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
}

.cover h1 {
  margin-top: 54px;
}

button {
  transition: transform 0.2s;
}

button:hover {
  transform: scale(1.05);
}

.cover-image {
  z-index: 100;
}

/* Why */

#why {
  min-height: 367px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#why h1 {
  position: relative;
}

#why h1 span {
  background-color: rgba(138, 43, 226, 0.2);
  width: 605px;
  height: 24px;
  bottom: 0;
  right: 0;
  position: absolute;
}

/* How this was done */

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 40%;
  padding-right: 117px;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 40%;
  padding-left: 117px;
}

.left h2 {
  font-weight: 300;
  font-size: 55px;
  margin: 0;
  padding-right: 102px;
}

.left p {
  text-align: end;
}

.right h2 {
  font-weight: 300;
  font-size: 55px;
  margin: 0;
}

.right p {
  text-align: end;
  /* padding-right: 64px; */
}

#storytelling, #immersive, #beauty {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 25px 178px;
  margin-bottom: 173px;
}

#storytelling img {
  width: 50%;
}

#beauty img {
  width: 50%;
}

#immersive img {
  width: 50%;
  /* width: 675px; */
}

/* Tech */

#technologies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#technologies h1 {
  position: relative;
  margin-right: 96px;
}

#technologies h1 span {
  background-color: rgb(38, 201, 255, 0.5);
  width: 221px;
  height: 24px;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  flex-wrap: wrap;
}

.grid img {
  width: 5.8vw;
  margin: 2vw 4.6vw;
}

/* Action */

#action {
  height: 400px;
  /* border: 1px solid; */
  margin-top: 150px;
  position: relative;
}

#action-background {
  position: absolute;
  top: -67px;
  left: 17%;
  z-index: 5;
  opacity: 0.5;
}

.purple-strip {
  height: 100%;
  margin: 0;
  background-color: #5700df;
  opacity: 0.92;
  position: absolute;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content p {
  color: wheat;
  font-size: 27px;
}

/* Team */

#team {
  margin-top: 250px;
}

#team .description {
  margin-bottom: 90px;
}

#team h2 {
  color: #383838;
  /* font-weight: 500; */
  font-size: 33px;
}

.profiles {
  display: flex;
  justify-content: center;
  align-items: center;
}

.member {
  margin: 0.5px;
  position: relative;
  width: 287px;
  height: 442px;
  overflow: hidden;
}

.basic-info {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 5;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  transition: bottom .3s;
}

.member:hover .basic-info {
  bottom: 340px;
}

.member:hover .detail-profile {
  top: 0px;
}

.basic-info > * {
  margin: 0;
}

.detail-profile {
  position: absolute;
  top: 445px;
  width: 100%;
  height: 100%;
  background-color: rgba(39, 30, 96, 0.5);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;

  transition: top .3s;
}

.detail-profile p {
  margin: 0;
  color: white;
}

.first-line {
  margin-top: 60px !important;
}

.social-icons {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 18px;
}

/* Projects */

#projects {
  padding: 25px 214px;
  margin-top: 90px;
}

#projects .title {
  align-items: flex-start;
}


#projects .title h2 {
  font-weight: 300;
  font-size: 55px;
  margin: 0;
  padding-right: 102px;
  text-align: left;
}

.project-grid {
  height: 1200px;
  width: 100%;
  display: flex;
  margin-top: 25px;
}

.left-col {
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.right-col {
  width: 45%;
}

.featured-project {
  width: 100%;
  height: 60%;
  background-color: #424242;
  margin-top: 120px;
  overflow: hidden;
  position: relative;
}

.featured-project:hover .project-info {
  height: 100%;
  width: 80%;
}

.featured-project:hover .project-description {
  opacity: 1;

  transition: opacity .1s linear .5s;
}

.featured-project img {
  height: 100%;
}

.third-project {
  height: 30%;
  width: 50%;
  background-color: #97fe91;
  overflow: hidden;
  position: relative;

  transition: width .4s;
}

.third-project .project-title {
  margin-top: 180px;

  transition: margin-top .4s;
}

.third-project:hover {
  width: 65%;
}

.third-project:hover .project-title {
  margin-top: 0;
}

.third-project:hover .project-info {
  height: 100%;
  width: 60%;
}

.third-project:hover .project-description {
  opacity: 1;

  transition: opacity .1s linear .5s;
}

.third-project .project-info {
  height: 100%;
  width: 100%;
  background-color: #97fe91;

  transition: height .4s, width .4s;
}

.third-project .project-info .project-title > *, .third-project .project-info .project-description > * {
  color: #424242
}

.third-project img {
  height: 100%;
}

.third-project .button:hover .button-text {
  margin-left: 10px;
  color: #424242 !important;
}

.second-project {
  width: 100%;
  height: 50%;
  background-color: #5700df;
  overflow: hidden;
  position: relative;

  transition: width .4s;
}

.second-project .project-info {
  height: 100%;
  width: 100%;
  background-color: #5700df;

  transition: height .4s, width .4s;
}

.second-project:hover .project-info {
  height: 100%;
  width: 40%;
}

.second-project:hover .project-description {
  opacity: 1;

  transition: opacity .1s linear .5s;
}

.second-project img {
  height: 100%;
}

.second-project .project-title > * {
  font-size: 40px;

  transition: font-size .4s;
}

.second-project:hover .project-title > * {
  font-size: initial;
}

#projects .description {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 75px;
  text-align: start;
}

.description h3 {
  color: #383838;
  /* font-weight: 500; */
  font-size: 33px;
}

#projects .description p {
  text-align: start;
}

.button {
  width: 100px;
  height: 100px;
  /* text-align: start; */
  margin: 2px 0;
  /* vertical-align: middle; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.teal {
  background-color: #53cdff;
}

.button-background {
  height: 100%;
  width: 0%;
  position: absolute;
  z-index: -1;

  transition: width .2s;
}

.button-text {
  margin-left: 0px;

  transition: margin-left .2s, color .2s;
}

.button:hover .button-background {
  width: 100%;
}

.button:hover .button-text {
  margin-left: 10px;
  color: white;
}

.button:hover .button-text {
  margin-left: 10px;
  color: white;
}

.button p {
  font-size: 16px;
  font-weight: 700;
  margin: 2px 0;
}

.project-info {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 60px 53px;
}

.featured-project .project-info {
  height: 250px;
  width: 250px;
  background-color: #424242;

  transition: height .4s, width .4s;
}

.project-description {
  opacity: 0;

  transition: opacity .1s linear;
}

.project-title > *, .project-info > * {
  margin: 0;
  text-align: start;
  color: white;
}

/* Partners */

#partners {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}

#partners h2 {
  color: #383838;
  margin-right: 20px;
  font-size: 30px;
  margin-bottom: 29px;
}

/* Footer */

#footer {
  background-color: #231f20;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 52px 0;
  margin-top: 120px;
}

#footer-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
}

#social-media {
  position: relative;
}

#social-media h2 {
  font-size: 34px;
  font-weight: 900;
  position: relative;
  z-index: 16;
}

.social-logos img {
  margin-right: 15px;
  cursor: pointer;
}

#vitals-container {
  display: flex;
  margin-top: 20px;
}

.vitals {
  margin-right: 59px;
}

.footer-logo {
  margin-left: 20vw;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#copyright {
  margin-top: 234px;
}

#social-media span {
  background-color: rgba(61, 201, 254, 0.5);
  width: 100%;
  height: 18px;
  top: 94px;
  right: 0;
  position: absolute;
  z-index: 0;
}

/* Mobile Menu */

/* Position and sizing of burger button */
.bm-burger-button {
  display: none;
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #97fe91;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.bm-menu p {
  color: #373a47;
}

.bm-menu button {
  margin: 0;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  margin: 50px 0;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

@media (max-width: 1440px) {
  .header {
    padding: 24px 168px;
  }
}

@media (max-width: 1290px) {
  .left h2 {
    padding-right: 0;
  }

  #projects {
    padding: 25px 110px;
  }

  .project-grid {
    height: 1000px;
  }
  
  .second-project:hover .project-info {
    height: 100%;
    width: 55%;
  }

  .third-project .project-title {
    margin-top: 130px;
    transition: margin-top .4s;
  }

  .third-project .project-info {
    padding: 30px 31px;
  }

  .third-project:hover {
    width: 85%;
  }
  
}

@media (max-width: 1200px) {
  .bm-burger-button {
    display: unset;
  }

  #main-menu {
    display: none;
  }
}

@media (max-width: 1024px) {
  .bm-burger-button {
    right: 77px;
    top: 71px;
  }

  .header {
    padding: 50px 58px 0 58px;
  }

  .left {
    padding-right: 0;
    width: auto;
  }

  .left h2 {
    text-align: end;
  }

  #storytelling, #immersive, #beauty {
    padding: 25px 60px;
  }

  #storytelling img, #immersive img {
    width: 420px;
    margin-left: 88px;
  }

  .grid img {
    width: 90px;
    margin: 25px 50px;
  } 

  #projects {
    padding: 25px 60px;
  }

  #projects .description {
    padding: 37px 50px;
  }

  .project-info {
    padding: 50px 40px;
  }

  .third-project .project-info {
    padding: 15px 27px;
  }

  #partners {
    flex-direction: column;
  }

  #partners h2 {
    margin-right: 0;
  }

  .footer-logo {
    margin-left: 0;
  }
}

@media(max-width: 768px) {
  .cover .parallax-image-container {
    width: 600px;
    margin-top: 114px;
  }

  .App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #why, #technologies, #team, #projects {
    width: 700px;
    min-height: 275px;
  }

  #why h1 span {
    width: 389px;
    right: 155px;
  }

  #storytelling, #immersive {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 100px;
  }

  #beauty {
    flex-direction: column-reverse;
    align-items: flex-end;
    margin-bottom: 115px;
  }

  #beauty img {
    width: 583px;
    margin-right: 57px;
  }

  #storytelling img {
    width: 509px;
    margin-left: 139px;
    margin-top: 20px;
  }

  #immersive img {
    margin-left: 0;
    margin-top: 45px;
  }

  .right {
    align-items: flex-end;
    width: 100%;
  } 

  .left {
    align-items: center;
  }

  .left p {
    text-align: center;
  }

  .title {
    align-items: center;
  }

  #technologies h1 {
    margin-right: 0;
  }

  .grid img {
    width: 80px;
    margin: 25px 25px;
  }

  .member {
    height: 410px;
  }

  .member img {
    height: 100%;
  } 

  .detail-profile p {
    font-size: 15px;
  }

  #projects {
    padding: 25px 15px;
  }

  .project-grid {
    height: auto;
    flex-direction: column;
  }

  .left-col, .right-col {
    width: 100%;
  }

  .left-col {
    height: 1100px;
  }

  .right-col {
    height: 900px;
  }

  .featured-project {
    width: 100%;
  }

  .second-project {
    width: 88%;
  }

  .third-project .project-info {
    padding: 44px 40px;
  }

  #projects .description {
    height: 40%;
  }

  #partners {
    margin: 0;
  }

  #partners img {
    width: 650px;
  }

  #copyright {
    display: none;
  }

  #footer {
    width: 100%;
    padding: 52px 61px;
  }

  .vitals {
    margin-right: 33px;
  }

}

@media (max-width: 414px) {
  .App {
    text-align: center;
    position: relative;
    overflow: hidden;
  }

  .header {
    padding: 20px 26px;
  }

  #nav-logo {
    margin-left: 0;
    width: 60px;
  }

  .bm-burger-button {
    right: 26px;
    top: 33px;
  } 

  .cover {
    width: 90%;
  }

  .cover h1 {
    margin-top: 0;
  }

  .cover .parallax-image-container {
    width: 124%;
    margin-top: 76px;
    min-height: 313px;
  }

  #why, #technologies, #team, #projects {
    width: 90%;
    min-height: 275px;
  }

  #why {
    margin-bottom: 70px;
  }

  #why h1 span {
    width: 54px;
    right: 136px;
  }

  #storytelling, #immersive, #beauty {
    padding: 5%;
    align-items: center;
  }

  .left {
    width: 100%;
  }

  .left h2 {
    text-align: center;
  }

  .right {
    padding-left: 0;
    align-items: center;
    width: 100%;
  }

  .right p {
    text-align: center;
  }

  #storytelling img, #beauty img, #immersive img {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
  }

  #technologies h1 span {
    bottom: 40px;
  }

  .grid {
    width: 100%;
  }

  #action {
    height: 400px;
    /* border: 1px solid; */
    margin-top: 150px;
    position: relative;
    display: flex;
    justify-content: center;
  }

  .content {
    width: 90%;
  }

  .content p {
    margin-top: 0;
  }   

  .purple-strip {
    margin-right: -450px;
  }

  #action-background {
    left: -57%;
  }

  #team {
    margin-top: 100px;
  }

  .profiles {
    flex-wrap: wrap;
  }

  .member img {
    height: auto;
  }

  #projects {
    padding: 0;
    margin-bottom: 90px
  }

  .second-project:hover {
    width: 100%;
  }

  .third-project:hover {
    width: 100%;
  }

  .third-project .project-info {
    padding: 30px 40px;
  }

  .project-description p {
    font-size: 16px;
  }

  #projects .description {
    height: 59%;
  }

  #partners img {
    width: 151%;
  }

  #footer {
    width: 100%;
    padding: 52px 5%;
  }

  #footer-content {
    flex-direction: column;
    align-items: flex-end;
  }

  #social-media {
    width: 100%;
  }

  #social-media span {
    width: 300px;
    top: 92px;
    right: 35px;
  }

  #vitals-container {
    flex-wrap: wrap;
  } 

  #vitals-container:nth-child(3) {
    margin-right: 0;
  }

  .vitals {
    margin-right: 40px;
  }
  
}